div {
  color: #04aa6d;
}
body {
  background-color: rgb(212, 36, 36);
  height: 400px;
  width: 200px;
  border: 20px ridge#55b591;
  border-radius: 20px;
  padding: 60px;

  /* background: linear-gradient(rgb(10, 10, 126), yellow); */
  /* background: url("turu.jpg");
  font-family: "Trebuchet MS";
  margin-top: 15vh;
  margin-left: 90px;
  margin-right: 1px;
  margin-bottom: 100px;
} */
}
